@using WebApplication.Controllers
<div id="ApiConnectionBannerSuccess" style="display:none;">
    <div class="alert alert-success d-flex align-items-center" role="alert">
        <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"></use></svg>
        <div>
            Successfully connected to the api server.
        </div>
    </div>
</div>

<div id="ApiConnectionBannerError" style="display:none;">
    <div class="alert alert-danger d-flex align-items-center" role="alert">
        <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"></use></svg>
        <div>
            Unable to connect to the api server. Please ensure you have the api server running.
        </div>
    </div>
</div>


<script>
    $.ajax({
        method: "GET",
        url: "@ConfigController.ApiEndpointUrl/get/testconnection",
    })
    .done(function () {
        $("#ApiConnectionBannerSuccess").show();
        setTimeout(function () {
            $("#ApiConnectionBannerSuccess").hide();
        }, 5000);
    })
    .fail(function () {
        $("#ApiConnectionBannerError").show();
    })
</script>